@model CostumLogin.Model.UserAccount
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<form class="form-horizontal" asp-controller="Home" asp-action="Login" method="post">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="UserName" class="col-md-2"></label>
        <div class="col-md-10">
            <input asp-for="UserName" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Password" class="col-md-2"></label>
        <div class="col-md-10">
            <input asp-for="Password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Login</button>
        </div>
    </div>



</form>